<!DOCTYPE html>
<html lang="en">

<head>

  <% include partials/head %>

  <style>
    .container {
      margin-top: 100px;
    }
  </style>
</head>

<body>
  <div class="container  animated fadeIn">
    <div class="title float-left">
      <h1 class="brand"><a href="/index">Health Tracker</a></h1>
    </div>
    <div class="help-icon float-right">
      <a href="/help"><i class="far fa-star fa-3x" id="star-color"></i></a>
    </div>
    <div class="clearfix"></div>  
    <div class="wrapper">
      <div class="company-info">
        <div id="logo-wrapper">
          <img src="/images/heart.png" alt="Logo" id="logo">
        </div>
      </div>
      <div class="contact">
        <div class="box-wrapper">
          <div class="box">
            <a href="/search-student">
              <div class="icon">
                <i class="fa fa-clipboard fa-5x"></i>
              </div>
              <div class="icon-text">
                Log
              </div>
            </a>
          </div>
          <div class="box">
            <a href="/display-ticket-data">
              <div class="icon">
                <i class="fa fa-chart-area fa-5x"></i>
              </div>
              <div class="icon-text">
                Trends
              </div>
            </a>
          </div>
          <div class="box">
            <a href="/upload">
              <div class="icon">
                <i class="fa fa-medal fa-5x"></i>
              </div>
              <div class="icon-text">
                Score
              </div>
            </a>
          </div>
          <div class="box">
            <a href="/settings">
              <div class="icon">
                <i class="fa fa-cog fa-5x"></i>
              </div>
              <div class="icon-text">
                Settings
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <% include partials/validateLogin %>
</body>

</html>