<!DOCTYPE html>
<html>

   <head>
      <% include partials/head %>
   </head>

   <script>
   </script>

   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
   <script type="text/javascript">
   </script>

   <style>
      .btn-group {
         padding-left: 10px;
         padding-bottom: 10px;
      }
   </style>

   <body>
      <% include partials/header %>
      <form action="/ticket-entry" id="ticket-entry-form" autocomplete="off">
         <div class="container mt-4 animated fadeIn">
            <div class="row">
               <div class="col-md-3">
               </div>
               <div class="col-md-6">
                  <div class="card">
                     <div class="card-header">
                        <div class="card-title" id="textt">
                           <h5>Log Information</h5>
                        </div>
                        <div class="card-text">
                        </div>
                     </div>
                     <div class="card-body">
                        <div class="card-text">
                           <div class="form-group" style="margin:auto">
                              <label>Sleep (# of hours)</label></br>
                              <input class="number" id="sleep" type="number" name="sleep">
                           </div>
                           <div class="form-group">
                              <label>Weight (lbs)</label> </br>
                              <input class="number" id="weight" type="number" name="weight">
                           </div>
                           <div class="form-group">
                              <label>Calories</label> </br>
                              <input class="number" id="calories" type="number" name="calories">
                           </div>
                           <div class="form-group">
                              <label>Exercise</label> </br>
                              <input class="number" id="exercise" type="number" name="exercise">
                           </div>
                           <div style="margin-top: 30px">
                              <button onClick="myFunction()" type="button" class="btn btn-success">Submit</button>
                              <script>
                                 function myFunction() {
                                    alert("Successfully submitted")
                                    window.location.reload();
                                 }
                              </script>

                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <div class="col-md-3">
            </div>
         </div>
         </div>
      </form>
      <!--<Sources-->
      <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
         integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
         crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
         integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
         crossorigin="anonymous"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
         integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
         crossorigin="anonymous"></script>
      <% include partials/validateLogin %>
   </body>

</html>