<!DOCTYPE html>
<html lang="en">

<head>
    <% include partials/head %>
</head>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script type="text/javascript">

    $(document).ready(function () {
        $('#submitBtn').click(() => {
            if ($('input[name="collectionName"]:checked').val()) {
                $('#uploadForm').submit();
            } else {
                alert("Please select the option of which file you are uploading.");
            }
        });
    });
</script>

<body>
    <% include partials/header %>
    <div class="container animated fadeIn mt-4">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">
                        <div class="card-title" id="textt">
                            <h5>Score Report</h5>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="contact">
                            <form ref='uploadForm' id='uploadForm' action='/upload' method='post'
                                encType="multipart/form-data">
                                <div class="form-group">
                                    <label>Your score from (1-100) is:</label>
                                    <div >
                                        92/100
                                        Continue on your current trajectory.
                                        Try to get more hours of sleep.
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="md-col-3"></div>
        </div>
    </div>
    <% include partials/validateLogin %>
</body>

</html>